body {
    background-color: rgb(30, 29, 29);
    color: #ffffff;
    font-family:Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background-image: linear-gradient(700deg, #100f0f, #303030);
    text-align: center;
}
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgb(185, 184, 184); 
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(25, 25, 25); 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #9f9e9e;  
  }
.navbar {
    overflow: hidden;
    background-color: #333;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  /* Links inside the navbar */
  .navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  .nadpis {
    color:whitesmoke;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 2rem;
    animation-name: nadpisAnimated;
    animation-duration: 1s;
}
.podnadpis {
    color:#00e0fe;
    display: flex;
    justify-content: center;
    align-items: center;
}
@keyframes nadpisAnimated {
    0% {font-size: 1rem;}
    100% {font-size: 2rem;}
}
.links {
    position: fixed;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px;
}

.footer{
    text-decoration: none;
    text-align: center;
    list-style: none;
    position: fixed;       
    bottom: 10px; 
    width: 100%;
}
.buttons {
    color:rgb(31, 80, 187);
    display: flex;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
}
.button:visited {
 color:inherit;
}
.button {
    border-style: solid;
    text-decoration: none;
    font-weight: bold;
    border-color: rgb(255, 255, 255);
    border-radius: 40px;
    border-width: 5px;
    padding: 16px;
    cursor: pointer;
    margin: 10px;  
    width: 200px;
    text-align: center;
    transition: 0.4s;
}
.button:hover {
    width: 280px;
    background-color: rgb(2, 4, 161);
}
.footer li{
    padding: 10px;
    display: inline;
}

.footer a{
    font-size: 20px;
    color: #ffffff;
}

.projects {
    display: flex;
    justify-content: center;
    top: 1rem;
    flex-wrap: wrap;
}
.pl {
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    width: 12rem;
    height: 9rem;
    background: #262a34;
    border-radius: 30px;
    margin: 1.5rem;
    padding-bottom: 1rem;
    opacity: 1;
    z-index: 990;
    box-shadow: 0px 0px 15px #00000030;
    transition: all ease 0.5s;
}
.pl-image {
    position: absolute;
    height: 6rem;
    width: 6rem;
    top: 1rem;
    border-radius: 1rem;
}
.pl-nadpis {
    position: absolute;
    top: 6rem;
}
.pl-info {
    opacity: 0;
    position: absolute;
    right: 1rem;
    left: 1rem;
    top: 0rem;
    transition: all ease-in-out 0.2s;
}
.pl-button {
    opacity: 0;
    border: none;
    position: absolute;
    padding: 0.7rem 0.7rem;
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 600;
    color: #ebebeb;
    background: #1c2027;
    border: 1px solid #232933;
    border-radius: 50px;
    transition: all ease 0.2s;
    text-decoration: none;
    bottom: 1rem;
}
.pl:hover {
    width: 19rem;
    height: 19rem;
    box-shadow: 0px 0px 15px #00000092;
    margin: 1rem;
}
.pl:hover > .pl-info {
    top: 9rem;
    opacity: 1;
}
.pl:hover > .pl-button {
    opacity: 1;
}
.pl-button:hover {
    border-radius: 4rem;
    box-shadow: 0px 0px 15px #00000092;
    background-color: #410c0c;
}

/* contacts */

.con-div {
    display: flex;
    justify-content: center;
    align-items: center;
    top: 1rem;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
}

.con {
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    width: 11rem;
    height: 13rem;
    background: #262a34;
    border-radius: 30px;
    margin: 1.5rem;
    padding-bottom: 1rem;
    opacity: 1;
    z-index: 990;
    margin: 2rem;
    box-shadow: 0px 0px 15px #00000030;
    transition: all ease 0.5s;
}
.con-image {
    position: absolute;
    top: 1rem;
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    box-shadow: 0px 0px 15px #00000092;
}
.con-title {
    position: absolute;
    bottom: 3.5rem;
}
.con-button {
    border: none;
    position: absolute;
    padding: 0.7rem 0.7rem;
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 600;
    color: #ebebeb;
    background: #1c2027;
    border: 1px solid #232933;
    border-radius: 50px;
    transition: all ease 0.2s;
    text-decoration: none;
    width: 8rem;
    bottom: 1rem;
}

.con-button:hover {
    background: #323945;
    box-shadow: 0px 0px 15px #00000092;
}
.con:hover {
    width: 11.4rem;
    height: 13.4rem;
    margin: 1.8rem;
    box-shadow: 0px 0px 15px #00000092;
}
